# Core ML
torch==2.2.2+cpu
torchvision==0.17.2+cpu
torchaudio==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu

# Ultralytics YOLO
ultralytics==8.3.23

# Data / math
numpy==1.26.4
scipy==1.13.1
pandas==2.2.2
scikit-learn==1.5.2
faiss-cpu==1.8.0

# Images / viz
opencv-python==4.10.0.84
matplotlib==3.9.2
tqdm==4.66.5

# Demo / app
streamlit==1.38.0
